.card .btn {
  margin-left: 10px; }

.card .label {
  margin-top: 17px;
  margin-bottom: auto;
  margin-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 11px;
  font-weight: 400; }

.card p {
  font-size: 15px; }

.card h4 {
  font-weight: 400; }

.current-balance {
  text-align: center; }
  .current-balance small {
    margin: 0px;
    color: #616161; }
  .current-balance h2 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .current-balance a.btn {
    padding: 8px 17px 8px 17px;
    margin-top: 0px; }

@media (max-width: 768px) {
  .top-buttons .btn, .top-buttons .btn-group {
    width: 33%; } }

.shipment-button {
  text-align: right; }
  @media (max-width: 768px) {
    .shipment-button .btn, .shipment-button .btn-group {
      width: 60%; } }

@media screen and (min-width: 769px) {
  .current-balance {
    bottom: 26px; } }

@media screen and (max-width: 768px) {
  .top-row {
    text-align: center; }
  .shipment-button {
    text-align: center; } }
