.card p {
  font-size: 15px; }

.card h4 {
  font-weight: 400; }

.card .head > .btn {
  margin-left: 10px;
  margin-right: 10px;
  white-space: normal; }

.card .head .edit-btn, .card .head .delete-btn {
  margin-top: 12px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px; }
  .card .head .edit-btn i, .card .head .delete-btn i {
    font-size: 28px !important; }

.card .head .edit-btn {
  color: #f5f5f5;
  background: transparent; }
  .card .head .edit-btn:hover {
    color: white; }

.card .head .delete-btn {
  color: #e53935;
  text-shadow: 0px 0px 1px white;
  bottom: 1px; }

.card .head .button-group {
  margin-right: 20px;
  margin-left: 20px; }

.card .head .label {
  font-size: 11px;
  margin-top: 19px;
  font-weight: 400;
  background-color: #fec60a; }

.current-balance {
  text-align: center; }
  .current-balance small {
    margin: 0px;
    color: #616161; }
  .current-balance h2 {
    margin-top: 0px;
    margin-bottom: 0px; }
  .current-balance a.btn {
    padding: 8px 17px 8px 17px;
    margin-top: 0px; }

@media (max-width: 768px) {
  .top-buttons .btn, .top-buttons .btn-group {
    width: 33%; } }

.shipment-button {
  text-align: right; }
  @media (max-width: 768px) {
    .shipment-button .btn, .shipment-button .btn-group {
      width: 60%; } }

@media screen and (min-width: 769px) {
  .current-balance {
    bottom: 26px; } }

@media screen and (max-width: 768px) {
  .top-row {
    text-align: center; }
  .shipment-button {
    text-align: center; } }
