{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block css %}
  {{ block.super }}

  <!-- SASS -->
  <!-- This file stores project-specific CSS -->
  <link type='text/css' href="{% static 'css/profile.css' %}" rel="stylesheet">

{% endblock %}

{% block share-header %}
  {% include "snippets/_social_drop_list.html" with destination_url='https://www.reuserat.com' %}
{% endblock %}

{% block pre-content %}
{% if request.user.is_authenticated %}
      <div class="container">
        <div class="row">
          <div class='col-md-12'>
          <h6>
            {% block breadcrumb %}
            <a class="nav-link" href="{% url 'users:detail' request.user.username  %}">{% trans "Dashboard" %}</a>
            {% endblock %}
          </h6>
         </div>
        </div>
      </div>
{% endif %}
{% endblock pre-content %}

{% block content %}
{% endblock content %}


{% block share-footer %}
  {% include "snippets/_social_drop_list.html" with destination_url='https://www.reuserat.com' %}
{% endblock %}