{% extends 'base.html' %}

{% load static %}


{% block css %}
    {{ block.super }}
    <link type='text/css' href="{% static 'css/snippets/pages/circle_tabs.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class="wrap features">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="title">Can I Really Send Anything?</h2>
                <h4>No, not really. But you can send a lot!</h4>
            </div>
            <div class="features-logo">
<br>
                <img src="{% static 'images/logo.png' %}" class="img-responsive">
                <h4>Send What You Want, Make Money </h4>

            </div>
            <div class="circle">

                <span id="videogames">Video Games</span>
                <div class="inner">
                    <h3>Video Games</h3>
                    <p>Decompose the monolithic SOA into microservices running on containers</p>
                </div>

                <span id="jewelry">Jewlery</span>
                <div class="inner">
                    <h3>Jewlery</h3>
                    <p>Node.js apps running on containers help the bots chat with you</p>
                </div>

                <span id="treasures">Treasures</span>
                <div class="inner">
                    <h3>Treasures</h3>
                    <p>APIs deployed on containers on the cloud serve as an MBaaS to deliver Push, Geo, Offline</p>
                </div>

                <span id="kids">Kids</span>
                <div class="inner">
                    <h3>Kids</h3>
                    <p>APIs deployed on containers on the cloud serve as an MBaaS to deliver Push, Geo, Offline</p>
                </div>

                <span class="blacklist" id="blacklist">Blacklist</span>
                <div class="inner blacklist">
                    <h3>Items You Can't Send</h3>
                    <li>Clothing</li>
                </div>

                <span id="electronics">Electronics</span>
                <div class="inner">
                    <h3>Electronics</h3>
                    <li>Phones</li>
                    <li>Music Players</li>
                    <li>Headphones &amp; Audio</li>
                    <li>Home Appliances</li>
                    <li>And More!</li>
                </div>

                <span id="books">Books</span>
                <div class="inner">
                    <h3>Books</h3>
                    <p>Millions of devices connected to a device analytics and control gateway deployed on a large cluster of containers</p>
                </div>

                <span id="movies">Movies</span>
                <div class="inner">
                    <h3>Movies</h3>
                    <p>Apps having super large workloads (data intensive or compute intensive) needing to scale on the fly with containers.</p>
                </div>

        </div>
    </div>
</div>
{% endblock content %}
