.section-payments .tab-content {
  padding-top: 10px;
  padding-bottom: 10px; }

ul.nav-pills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  ul.nav-pills > li {
    display: list-item; }
