.wrapper > .header {
  min-height: 780px !important; }
  .wrapper > .header .container {
    padding-top: 16vh; }
  .wrapper > .header .btn-danger i {
    margin-right: 4px; }

h5.description, h4.description, p.description {
  color: #757575; }

.features {
  padding-top: 90px;
  padding-bottom: 90px; }
  .features h5 {
    color: #757575; }

.highlight {
  padding-bottom: 100px; }

.steps {
  padding-top: 60px;
  padding-bottom: 60px;
  color: grey-100;
  /*background: #e53935;
    background: -webkit-linear-gradient(to left, #e53935 , #e35d5b); 
    background: linear-gradient(to left, #e53935 , #e35d5b);  */
  background-image: url("http://7-themes.com/data_images/out/33/6882876-beach-sunset.jpg") !important;
  background-position: center !important;
  background-attachment: fixed !important; }
  .steps span.prior {
    font-weight: 400;
    color: #f5f5f5;
    margin-right: 4px; }
  .steps span.step {
    color: #f5f5f5; }
  .steps span.we {
    font-weight: 400;
    color: #eeeeee;
    margin-right: 6px; }
  .steps span.arrow {
    color: #e0e0e0;
    position: relative;
    top: 3px; }
  .steps span.and {
    color: #e0e0e0;
    font-weight: 400; }

.section-faq {
  background-position: center !important;
  background-attachment: fixed !important;
  margin-top: 60px; }

.section-testimonials {
  padding-top: 100px; }
  .section-testimonials h5 {
    text-align: center; }
  .section-testimonials i.fa-quote-left {
    color: #2196f3; }

.section-dark, .section-blue, .section-orange {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  /* align horizontal */
  -ms-flex-align: center;
      align-items: center;
  /* align vertical */ }
  .section-dark h3, .section-blue h3, .section-orange h3 {
    color: #f5f5f5; }
  .section-dark h6, .section-blue h6, .section-orange h6 {
    color: #f5f5f5; }
  .section-dark h5, .section-blue h5, .section-orange h5, .section-dark p, .section-blue p, .section-orange p {
    color: #eeeeee; }

.section-blue {
  background: #000428;
  /* fallback for old browsers */
  background: linear-gradient(to left, #000428, #004e92);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section-orange {
  background: #ff4b1f;
  /* fallback for old browsers */
  background: linear-gradient(to right, #ff4b1f, #ff9068);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.section-circles {
  padding-top: 100px;
  padding-bottom: 100px; }
  .section-circles .wrap.circle-features .inner, .section-circles .wrap.circle-features .circle-features-logo {
    background-color: #eceff1;
    border: 2px solid #424242; }

.image-container img {
  width: auto;
  height: auto;
  max-height: 250px; }

footer {
  margin-top: 0px; }

#bloomington div {
  position: absolute;
  top: -70px;
  left: 18px; }

#bloomington a {
  color: #FFF64A;
  font-weight: 500; }
  #bloomington a:hover {
    text-decoration: none;
    border-bottom: 3px solid white;
    font-style: italic; }
