.wrapper > .header {
  min-height: 760px !important; }
  .wrapper > .header .btn-danger i {
    margin-right: 4px; }

h5.description, h4.description, p.description, .features {
  color: #757575; }

.section-faq {
  background-position: center !important;
  background-attachment: fixed !important;
  margin-top: 60px; }

footer {
  margin-top: 0px; }
