.wrapper > .header {
  height: 400px;
  min-height: 400px; }

.main {
  padding-top: 0; }

.navbar-sub .navbar-brand {
  padding-top: 10px !important; }

.knowledge-body h4, .knowledge-body h5 {
  margin-left: 20px; }

.knowledge-body ol > li {
  list-style-type: disc;
  font-size: 17px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #616161; }

.cd-faq-group .cd-faq-content a {
  color: #9c27b0; }
