[hidden][style="display: block;"] {
  display: block !important; }

.logo {
  max-width: 150px; }

.navbar .navbar-brand {
  padding-top: 5px !important; }

.header-cards .card {
  margin-bottom: 20px; }

.alert {
  margin-bottom: 0px; }

.wrapper > .header {
  height: 200px;
  min-height: 200px; }
  .wrapper > .header .btn-danger i {
    margin-right: 4px; }

.main {
  padding-top: 40px;
  padding-bottom: 60px; }

.form-group .help-block {
  position: relative;
  display: inline;
  margin-bottom: 15px; }

.form-group label {
  color: #616161; }
