.main {
  min-height: 1000px;
  background: gray !important; }

.wrap.features h2 {
  text-align: center;
  font-size: 3.5vh; }

.wrap.features .detail {
  transition: all 100ms ease-out 200ms;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vh;
  height: 35vh;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(253, 253, 253, 0.95);
  padding: 8vh 5vh;
  margin: -17.5vh; }
  .wrap.features .detail h3 {
    margin-top: 0;
    font-family: "open-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.3vh;
    line-height: 1.428571429; }
    .wrap.features .detail h3:small {
      display: block;
      font-family: "open-sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.3vh;
      line-height: 1.428571429;
      color: #011b2a; }
  .wrap.features .detail p {
    font-family: "open-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.7vh;
    line-height: 1.428571429; }

.wrap.features .features-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vh;
  height: 35vh;
  text-align: center;
  border-radius: 50%;
  background-color: #fdfdfd;
  padding: 6vh 5vh;
  margin: -17.5vh; }

.wrap.features .circle {
  position: relative;
  width: 65vh;
  height: 65vh;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  box-sizing: content-box;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); }
  .wrap.features .circle > span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12.5vh;
    height: 3.5vh;
    margin: -6.25vh; }
  .wrap.features .circle span {
    font-family: "open-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.1vh;
    line-height: 2.5vh;
    text-align: center; }
    .wrap.features .circle span:hover + .detail,
    .wrap.features .circle span:focus + .detail {
      opacity: 1; }
    .wrap.features .circle span:before {
      width: 12.5vh;
      height: 12.5vh;
      border-radius: 50%;
      border: #fdfdfd solid 0.4vh;
      font-family: "joyent-icons";
      font-style: normal;
      font-weight: normal;
      display: block;
      text-decoration: inherit;
      speak: none;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      font-size: 10vh;
      color: #fdfdfd;
      width: 100%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.5vh;
      padding-top: 1.1vh;
      content: '\e81a'; }
    .wrap.features .circle span small {
      display: block;
      font-family: "open-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1.7vh;
      line-height: 1.428571429; }
    .wrap.features .circle span:hover:before, .wrap.features .circle span:focus:before {
      border-color: #011b2a;
      color: #011b2a; }

.wrap.features .circle > span:nth-of-type(1) {
  -webkit-transform: rotate(0deg) translate(32.5vh) rotate(0deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(1) {
    -webkit-transform: rotate(0deg) translate(40vw) rotate(0deg); } }

.wrap.features .circle > span:nth-of-type(2) {
  -webkit-transform: rotate(40deg) translate(32.5vh) rotate(-40deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(2) {
    -webkit-transform: rotate(40deg) translate(40vw) rotate(-40deg); } }

.wrap.features .circle > span:nth-of-type(3) {
  -webkit-transform: rotate(80deg) translate(32.5vh) rotate(-80deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(3) {
    -webkit-transform: rotate(80deg) translate(40vw) rotate(-80deg); } }

.wrap.features .circle > span:nth-of-type(4) {
  -webkit-transform: rotate(120deg) translate(32.5vh) rotate(-120deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(4) {
    -webkit-transform: rotate(120deg) translate(40vw) rotate(-120deg); } }

.wrap.features .circle > span:nth-of-type(5) {
  -webkit-transform: rotate(160deg) translate(32.5vh) rotate(-160deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(5) {
    -webkit-transform: rotate(160deg) translate(40vw) rotate(-160deg); } }

.wrap.features .circle > span:nth-of-type(6) {
  -webkit-transform: rotate(200deg) translate(32.5vh) rotate(-200deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(6) {
    -webkit-transform: rotate(200deg) translate(40vw) rotate(-200deg); } }

.wrap.features .circle > span:nth-of-type(7) {
  -webkit-transform: rotate(240deg) translate(32.5vh) rotate(-240deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(7) {
    -webkit-transform: rotate(240deg) translate(40vw) rotate(-240deg); } }

.wrap.features .circle > span:nth-of-type(8) {
  -webkit-transform: rotate(280deg) translate(32.5vh) rotate(-280deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(8) {
    -webkit-transform: rotate(280deg) translate(40vw) rotate(-280deg); } }

.wrap.features .circle > span:nth-of-type(9) {
  -webkit-transform: rotate(320deg) translate(32.5vh) rotate(-320deg); }

@media (max-width: 700px) {
  .wrap.features .circle > span:nth-of-type(9) {
    -webkit-transform: rotate(320deg) translate(40vw) rotate(-320deg); } }

.wrap.features .circle span.microservices:before {
  content: '\e80c';
  font-size: 8.5vh;
  padding-top: 1.7vh; }

.wrap.features .circle span.mobile:before {
  content: "\f09b";
  font-family: FontAwesome; }

.wrap.features .circle span.cloud-native:before {
  content: "\f09b";
  font-family: FontAwesome; }

.wrap.features .circle span.blacklist:before {
  content: "\f00d";
  font-family: FontAwesome; }

.wrap.features .circle span.realtime:before {
  content: '\e817'; }

.wrap.features .circle span.electronics:before {
  content: "\f10a";
  font-family: FontAwesome; }

.wrap.features .circle span.iot:before {
  content: '\e81d'; }

.wrap.features .circle span.mountain:before {
  font-size: 10.7vh;
  line-height: 10.7vh;
  padding-top: 0;
  content: '\e82a'; }

@media (max-width: 700px) {
  .wrap.features {
    height: 80vh;
    padding-top: 2.8vh;
    padding-bottom: 2.8vh; }
    .wrap.features h2 {
      font-size: 3.5vh; }
    .wrap.features .detail {
      width: 50vw;
      height: 50vw;
      margin: -25vw; }
      .wrap.features .detail h3 {
        font-size: 4vw; }
        .wrap.features .detail h3 small {
          font-size: 3.5vw; }
      .wrap.features .detail p {
        font-size: 3vw; }
      .wrap.features .detail li {
        font-size: 3vw;
        line-height: 1.6; }
    .wrap.features .features-logo {
      position: absolute;
      width: 50vw;
      height: 50vw;
      margin: -25vw; }
    .wrap.features .circle {
      width: 80vw;
      height: 80vw;
      padding: 0; }
      .wrap.features .circle > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 11.5vw;
        height: 11.5vw;
        margin: -5.75vw; }
      .wrap.features .circle span {
        font-size: 3vw;
        line-height: 1.428571429; }
        .wrap.features .circle span small {
          font-size: 1.8vw;
          line-height: 1.428571429; }
        .wrap.features .circle span:before {
          width: 11.5vw;
          height: 11.5vw;
          line-height: 1em;
          font-size: 9vw;
          margin-bottom: 0.5vw;
          padding-top: 1.1vw;
          content: '\e81a'; } }
