@import '../_colors.scss';

h4{
    color: $grey-800;
}
.section-shipment-main{
    li{
        list-style: initial;
        padding-top: 5px; 
        padding-bottom: 5px;
        font-size: 15px;
        font-style: italic;
        line-height: 22px;
        color: $grey-600;
    }
}



.input-description{
    textarea{
        height: 100px;
    }
}