h3{
    white-space: normal; 
}
.fileinput-upload-button, .fileinput-remove-button{
    display: none ;
}

.file-input{
    max-width: 400px;
}

#shipment-receipt-form{
    .form-group{
        margin-top: 10px !important;
    }
}