h4 {
  color: #424242; }

.section-shipment-main li {
  list-style: initial;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
  color: #757575; }

.input-description textarea {
  height: 100px; }
