.wrap.circle-features {
  min-height: 100vh;
  position: relative; }
  .wrap.circle-features h2 {
    text-align: center;
    font-size: 3.5vh; }
  .wrap.circle-features h4 {
    font-size: 2.4vh; }
  .wrap.circle-features li {
    font-size: 2.2vh;
    line-height: 1.6; }
  .wrap.circle-features .inner {
    transition: all 100ms ease-out 200ms;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vh;
    height: 40vh;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(253, 253, 253, 0.95);
    padding: 8vh 5vh;
    margin: -20vh; }
    .wrap.circle-features .inner h3 {
      margin-top: 0;
      font-family: "open-sans", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.3vh;
      line-height: 1.428571429; }
      .wrap.circle-features .inner h3:small {
        display: block;
        font-family: "open-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.3vh;
        line-height: 1.428571429;
        color: #011b2a; }
    .wrap.circle-features .inner p {
      font-family: "open-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1.7vh;
      line-height: 1.428571429; }
  .wrap.circle-features .circle-features-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40vh;
    height: 40vh;
    text-align: center;
    border-radius: 50%;
    background-color: #fdfdfd;
    padding: 8vh 5vh;
    margin: -20vh; }
  .wrap.circle-features .circle {
    position: relative;
    width: 65vh;
    height: 65vh;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); }
    .wrap.circle-features .circle > span {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15.5vh;
      height: 6.5vh;
      margin: -8.25vh; }
    .wrap.circle-features .circle span {
      font-family: "open-sans", sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 2.1vh;
      line-height: 2.5vh;
      text-align: center; }
      .wrap.circle-features .circle span:hover + .inner,
      .wrap.circle-features .circle span:focus + .inner {
        opacity: 1; }
      .wrap.circle-features .circle span:before {
        width: 15.5vh;
        height: 15.5vh;
        border-radius: 50%;
        border: #fdfdfd solid 0.4vh;
        font-style: normal;
        font-weight: normal;
        display: block;
        text-decoration: inherit;
        font-variant: normal;
        text-transform: none;
        line-height: 1em;
        font-size: 10vh;
        color: #fdfdfd;
        width: 100%;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0.5vh;
        padding-top: 2.1vh;
        content: '\e81a';
        color: white; }
      .wrap.circle-features .circle span small {
        display: block;
        font-family: "open-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7vh;
        line-height: 1.428571429; }
      .wrap.circle-features .circle span:hover:before, .wrap.circle-features .circle span:focus:before {
        border-color: #212121 !important;
        color: #212121 !important; }
  .wrap.circle-features .circle > span:nth-of-type(1) {
    /* IE 9 */
    transform: rotate(0deg) translate(32.5vh) rotate(0deg); }
    .wrap.circle-features .circle > span:nth-of-type(1):before {
      color: #64b5f6;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(1) {
      transform: rotate(0deg) translate(40vw) rotate(0deg); } }
  .wrap.circle-features .circle > span:nth-of-type(2) {
    /* IE 9 */
    transform: rotate(45deg) translate(32.5vh) rotate(-45deg); }
    .wrap.circle-features .circle > span:nth-of-type(2):before {
      color: #7986cb;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(2) {
      transform: rotate(45deg) translate(40vw) rotate(-45deg); } }
  .wrap.circle-features .circle > span:nth-of-type(3) {
    /* IE 9 */
    transform: rotate(90deg) translate(32.5vh) rotate(-90deg); }
    .wrap.circle-features .circle > span:nth-of-type(3):before {
      color: #ba68c8;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(3) {
      transform: rotate(90deg) translate(40vw) rotate(-90deg); } }
  .wrap.circle-features .circle > span:nth-of-type(4) {
    /* IE 9 */
    transform: rotate(135deg) translate(32.5vh) rotate(-135deg); }
    .wrap.circle-features .circle > span:nth-of-type(4):before {
      color: #90a4ae;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(4) {
      transform: rotate(135deg) translate(40vw) rotate(-135deg); } }
  .wrap.circle-features .circle > span:nth-of-type(5) {
    /* IE 9 */
    transform: rotate(180deg) translate(32.5vh) rotate(-180deg); }
    .wrap.circle-features .circle > span:nth-of-type(5):before {
      color: #e57373;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(5) {
      transform: rotate(180deg) translate(40vw) rotate(-180deg); } }
  .wrap.circle-features .circle > span:nth-of-type(6) {
    /* IE 9 */
    transform: rotate(225deg) translate(32.5vh) rotate(-225deg); }
    .wrap.circle-features .circle > span:nth-of-type(6):before {
      color: #ffb74d;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(6) {
      transform: rotate(225deg) translate(40vw) rotate(-225deg); } }
  .wrap.circle-features .circle > span:nth-of-type(7) {
    /* IE 9 */
    transform: rotate(270deg) translate(32.5vh) rotate(-270deg); }
    .wrap.circle-features .circle > span:nth-of-type(7):before {
      color: #fff176;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(7) {
      transform: rotate(270deg) translate(40vw) rotate(-270deg); } }
  .wrap.circle-features .circle > span:nth-of-type(8) {
    /* IE 9 */
    transform: rotate(315deg) translate(32.5vh) rotate(-315deg); }
    .wrap.circle-features .circle > span:nth-of-type(8):before {
      color: #81c784;
      border-color: #9e9e9e; }
  @media (max-width: 700px) {
    .wrap.circle-features .circle > span:nth-of-type(8) {
      transform: rotate(315deg) translate(40vw) rotate(-315deg); } }
  .wrap.circle-features .blacklist i.fa-times {
    color: #f44336; }
  .wrap.circle-features #blacklist:before {
    border-color: #f44336;
    content: "\f00d";
    font-family: 'FontAwesome'; }
  .wrap.circle-features #electronics:before {
    content: "\f10a";
    font-family: 'FontAwesome'; }
  .wrap.circle-features #books:before {
    content: '\e865';
    font-family: 'Material Icons'; }
  .wrap.circle-features #movies:before {
    content: '\e02c';
    font-family: 'Material Icons'; }
  .wrap.circle-features #videogames:before {
    content: '\e338';
    font-family: 'Material Icons'; }
  .wrap.circle-features #jewelry:before {
    content: '\e334';
    font-family: 'Material Icons'; }
  .wrap.circle-features #kids:before {
    content: '\e332';
    font-family: 'Material Icons'; }
  .wrap.circle-features #treasures:before {
    content: '\eb3b';
    font-family: 'Material Icons'; }

@media (max-width: 700px) {
  .wrap.circle-features {
    height: 80vh;
    padding-top: 2.8vh;
    padding-bottom: 2.8vh; }
    .wrap.circle-features h2 {
      font-size: 3.5vh; }
    .wrap.circle-features .inner {
      width: 50vw;
      height: 50vw;
      margin: -25vw; }
      .wrap.circle-features .inner h3 {
        font-size: 4vw; }
        .wrap.circle-features .inner h3 small {
          font-size: 3.5vw; }
      .wrap.circle-features .inner p {
        font-size: 3vw; }
      .wrap.circle-features .inner li {
        font-size: 3vw;
        line-height: 1.6; }
    .wrap.circle-features .circle-features-logo {
      position: absolute;
      width: 50vw;
      height: 50vw;
      margin: -25vw;
      padding: 5vh; }
    .wrap.circle-features .circle {
      width: 80vw;
      height: 80vw;
      padding: 0; }
      .wrap.circle-features .circle > span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 11.5vw;
        height: 11.5vw;
        margin: -5.75vw; }
      .wrap.circle-features .circle span {
        font-size: 3vw;
        line-height: 1.428571429; }
        .wrap.circle-features .circle span small {
          font-size: 1.8vw;
          line-height: 1.428571429; }
        .wrap.circle-features .circle span:before {
          width: 11.5vw;
          height: 11.5vw;
          line-height: 1em;
          font-size: 9vw;
          margin-bottom: 0.5vw;
          padding-top: 1.1vw;
          content: '\e81a'; } }

.wrap.circle-features .inner, .wrap.circle-features .circle-features-logo {
  background-color: #eceff1;
  border: 2px solid #424242; }
