{% extends "base_profile.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
/ <a class="nav-link" href="{% url 'shipments:shipmentOrder' %}">My New Shipment</a>
{% endblock %}

{% block content %}

<h1>Shipment Order Form</h1>
<form class="shipment" id="shipment_form" method="post" action="{% url 'users:update' %}">
  {% csrf_token %}
  {{ form|crispy }}
  <div id = "dynamicInput">
  {{item_form|crispy}}
  </div>
  <div class="control-group">
      <div class="controls">
        <input type="button" class ="btn" value="Add another Item" onClick="addInput('dynamicInput');">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
{% block more-javascript %}
<script>
var counter = 1;
var limit = 23;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');
          newdiv.innerHTML =`{{item_form|crispy}}`;
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>
  {% endblock more-javascript %}
{% endblock content %}

