{% extends "base_profile.html" %}
{% load static %}
{% load staticfiles i18n compress%}

{% block title %}User: {{ object.username }}{% endblock %}

{% block css %}
{{block.super}}
{% compress css %}
    <!-- SASS -->
    <link type='text/scss' href="{% static 'sass/users/user_detail.scss' %}" rel="stylesheet">

  {% endcompress %}
{% endblock css %}
<div class="row">

  <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:testCharge' %}" role="button">Pay Up</a>
  </div>
</div>
