{% extends "base_profile.html" %}
{% load static %}
{% load staticfiles i18n %}

{% block title %}Dashboard Home{% endblock %}

{% block css %}
{{block.super}}
    <!-- SASS -->
    <link type='text/css' href="{% static 'css/users/user_detail.css' %}" rel="stylesheet">

{% endblock css %}

{% block breadcrumb %}
{{block.super}}
<span class='pull-right'>
  Welcome back, {{ object.first_name }}
  </span>
{% endblock %}


{% block content %}
<div class="container">

<!-- Action buttons -->
<div class="row top-row">
  <div class='col-sm-5 top-buttons'>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Account</a>
  </div>

  <div class='col-sm-2 current-balance'>
    <small>Current Balance</small>
    <h2>${{ object.get_current_balance }}</h2>
    <a class='btn  btn-success btn-success' href='#'> Cash Out </a>
  </div>

  <div class='col-sm-5 shipment-button'>
    <a class="btn btn-danger " href="{% url 'shipments:shipmentOrder' %}" role="button">Create New Shipment</a>
  </div>

</div>
<!-- End Action buttons -->

<!--TEST -->
<hr>
<!-- END TEST -->

  <div class="row">
    <div class="col-sm-12">
          <!---shipment_set is the name generated automatically for the FK in play here of the USER -->

            <a href="{% url 'knowledge:shipping' %}" id='shipping-instructions' target="_blank" class='btn btn-primary btn-simple pull-left btn-sm'>
 Shipping instructions <!--  <i class="material-icons">info_outline</i>  -->
            </a>

            <br>

          {% for shipment in user_shipments %}
                    <div class="card card-nav-tabs ">
                        <div class="head {% if shipment.item_set.exists %} header-info {% else %} header-grey {% endif %}">
                          <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                          <a class="btn btn-dark-blend" href="{% url 'shipments:shipmentDetail' shipment.id %}" role="button">
                              {{ shipment.name }}
                              <i class="material-icons">arrow_forward</i>
                              <div class="ripple-container"></div>
                          </a>

                          <div class='pull-right button-group'>


                                 <a href="{% url 'shipments:shipmentUpdate' shipment.id %}" type="button" rel="tooltip" title="" class="btn btn-simple btn-xs edit-btn" data-original-title="Edit Shipment">
		                                <i class="fa fa-edit"></i>
		                            <div class="ripple-container"></div>
                                </a>
                              </a>

                            {% if not shipment.item_set.all %}
                              <a data-toggle="modal" data-target="#shipment-delete-modal" rel="tooltip" title="" shipment-id='{{ shipment.id }}' class="btn btn-danger btn-simple btn-xs delete-btn" data-original-title="Delete Shipment">
		                                <i class="fa fa-times"></i>
		                            <div class="ripple-container"></div>
                              </a>
                            {% endif %}
                          </div> <!-- /pull-right -->

                            {% if shipment.is_physical %}
                                <span class="label pull-right" rel="tooltip" title="A ReuseRat agent picked up your items in person.">Physical</span>
                            {% endif %}

                        </div> <!-- /head -->

                        <div class="content">
                          <div class='col-sm-7'>
                            <h4>Description</h4>
                            <p>
                              {{ shipment.description }}
                            </p>
                          </div>
                          <div class='col-sm-5'>
                            <h4>Items For Sale</h4>
                                <table class="table">
                               {% for item in shipment.get_visible_items %}
                                    <tr>
                                        <td>{{item.name}}</td>
                                        <td><a href="{{ item.get_shopify_url }}" target="_blank">See On Store</a></td>
                                    </tr>
                                    {% empty %}
                                    <p>
                                       No items selling yet. If your shipment has arrived, your items will be processed soon.
                                    </p>
                              {% endfor %}
                                </table>

                          </div>
                        </div>
                    </div>
          {% empty %}
              <br>
              <h3>No shipments yet! Please <a class="text-danger" href="{% url 'shipments:shipmentOrder' %}">create a new shipment</a> to start selling.</h3>

        {% endfor %}
    </div>
  </div>


</div>
{% endblock content %}

{% block modal %}
{% include "shipments/snippets/delete_shipment_modal.html" with shipment_id='000' %}
{% endblock modal %}

{% block javascript %}
    {{ block.super }}

    <!-- place project specific Javascript in this file -->
          <script>
            $('.delete-btn').on('click', function (e) {
                // 000 is a placeholder to replace with the shipment id, so that we can use django url generation for the url.
                $('#shipment-delete-form').attr("action", "{% url 'shipments:shipmentDelete' 000 %}".replace(000, $(this).attr('shipment-id')) );
            });
          </script>

{% endblock javascript %}
