{% extends "base_profile.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
/ <a class="nav-link" href="{% url 'users:update' %}">My Info</a>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
  <h1>{{ user.username }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
    {{ user_form|crispy }}
      {{ address_form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Update</button>
      </div>
    </div>
  </form>
    </div>
  </div>
</div>
{% endblock content %}


{% block javascript %}
{{block.super}}
 {{ form.media }}
{% endblock %}
