{% extends "account/profile/base_account_profile.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
/ <a class="nav-link" href="{% url 'users:update' %}">Basic Info</a>
{% endblock %}

{% block basic_info %}
active
{% endblock %}

{% block inner %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
  <h1 class='text-center'>Update Basic Information</h1>
  <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
    {% csrf_token %}
        {{ user_form|crispy }}
      {{ address_form|crispy }}

      <div class="control-group">
      <div class="controls">
          <a href="{% url 'users:detail' request.user.username %}" type="submit" class="btn">Back to Dashboard</a>
        <button type="submit" class="btn btn-primary">Update Info</button>
      </div>
    </div>
  </form>
    </div>
  </div>
{% endblock inner %}


{% block javascript %}
{{block.super}}
 {{ form.media }}
{% endblock %}
