{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load i18n staticfiles %}



{% block title %}{{ user.username }}{% endblock %}





{% block css %}
    {{ block.super }}
    <link type='text/css' href="{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/css/material-bootstrap-wizard-only.css' %}" rel="stylesheet" />
{% endblock %}

{% block body-tag %}
<body class=' image-container set-full-height' style="background-image: url('{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/img/wizard-profile.jpg' %}')">
{% endblock %}


{% block messages %}
{% endblock messages %}



{% block content-wrapper %}

{% block content %}



<div>

		<!--  Made With Material Kit  -->
		<a href="#" class="made-with-mk">
			<div class="brand">RR</div>
			<div class="made-with"><strong>ReuseRat</strong> We  <i class="fa fa-heart heart text-info"></i> Nature</div>
		</a>

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizardProfile">
		                    <form action="{% url 'users:complete_signup' %}" method="post">
                                {% csrf_token %}

		                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

		                    	<div class="wizard-header">
		                        	<h3 class="wizard-title">
		                        	   Build Your Profile
		                        	</h3>
									<h5>This information will let us know more about you.</h5>

		                    	</div>

								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#about" data-toggle="tab">About</a></li>
			                            <li><a href="#account" data-toggle="tab">Account</a></li>
			                            <li><a href="#address" data-toggle="tab">Address</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">
		                            <div class="tab-pane" id="about">
		                              <div class="row">
                                          <div class="col-sm-12">
                                      <h4 class="info-text"> Let's start with the basic information</h4>
                                        </div>
		                                	<div class="col-sm-10 col-sm-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
													<div class="form-group label-floating">
			                            {{user_form.first_name|as_crispy_field}}
			                                        </div>
												</div>

												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
													<div class="form-group label-floating">
			                            				{{user_form.last_name|as_crispy_field}}
													</div>
												</div>
		                                	</div>
		                                	<div class="col-sm-10 col-sm-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">phone</i>
													</span>
													<div class="form-group label-floating">
			                                        {{user_form.phone|as_crispy_field}}
			                                        </div>
												</div>
		                                	</div>
                                          <div class="col-sm-10 col-sm-offset-1">
												<div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">date_range</i>
													</span>
													<div class="form-group label-floating date-input">
			                                        {{user_form.birth_date|as_crispy_field}}
			                                        </div>
												</div>
		                                	</div>
                                          

		                            	</div> <!-- /row -->
		                            </div> <!-- /tab-pane -->

		                            <div class="tab-pane" id="account">
		                                <h4 class="info-text"> How would you like to be paid? </h4>

		                                <div class="row">
                                            <div class="col-sm-10 col-sm-offset-1" data-tabs='tabs'>
                                          {% for choice in user_form.payment_type %}
                                              {% if choice.choice_label == 'Paypal' %}
                                              <div class="col-sm-4">
                                                   <a href='#Paypal' data-toggle="tab" aria-expanded="true">
                                                     <div class="choice active" data-toggle="wizard-radio">
                                                        {{choice.tag}}
                                                            <div class="icon">
                                                                <i class="fa fa-paypal"></i>
                                                            </div>
                                                        <h6>{{choice.choice_label}} (recommended)</h6>
                                                        </div>
                                                   </a>
                                                </div>


                                                {% elif choice.choice_label == 'Check' %}
                                                <div class="col-sm-4">
                                                   <a href='#Check' data-toggle="tab" aria-expanded="true">
                                                     <div class="choice" data-toggle="wizard-radio">
                                                        {{choice.tag}}
                                                            <div class="icon">
                                                                <i class="fa fa-pencil"></i>
                                                            </div>
                                                            <h6>{{choice.choice_label}}</h6>
                                                        </div>
                                                   </a>
                                                </div>

                                            {% elif choice.choice_label == 'Direct Deposit' %}
                                                <div class="col-sm-4">
                                                   <a href='#Direct_Deposit' data-toggle="tab" aria-expanded="true">
                                                     <div class="choice" data-toggle="wizard-radio">
                                                        {{choice.tag}}
                                                            <div class="icon">
                                                                <i class="fa fa-bank"></i>
                                                            </div>
                                                        <h6>{{choice.choice_label}}</h6>
                                                        </div>
                                                   </a>
                                                </div>

                                            {% endif %}
                                          {% endfor %}


		                                <div class="tab-content text-center">
											<br><br>
                                            <div class="tab-pane" id="Check">
                                              <h5>Check payments can be made out to you and mailed to your address. You'll receive an envelope with a check made out to your name.</h5>
                                              <h5>You can cash out at any time from the dashboard (there is a $1 shipping charge on checks).</h5>
                                            </div>

                                            <div class="tab-pane active" id="Paypal">
                                              <h5>
                                                Paypal is the recommended way to receive funds.
                                                When an item sells, you'll receive an email requesting to transfer funds to your paypal account.
                                              </h5>
                                              <h5>From the dashboard you can see your available funds and cash out at any time.</h5>
                                            </div>

											<div class="tab-pane" id="Direct_Deposit">
                                              <h5>
                                                Direct Deposit is the most straightforward way to get paid.
                                                Transfers usually take 3 business days.
                                              </h5>
                                              <h5>From the dashboard you can add a bank account, see your available funds and cash out at any time.</h5>
                                            </div>
		                                </div>

									  </div><!-- /col-md -->
							 	     </div> <!-- /row -->

                                    <div class='col-sm-10 col-sm-offset-1 text-center'>
                                        <p><span class='asterisk'>*</span>You can complete your payment setup from the dashboard</p>
                                      </div>

		                       		</div> <!-- /tab-pane -->

		                            <div class="tab-pane" id="address">
		                                <div class="row">
		                                    <div class="col-sm-12">
		                                        <h4 class="info-text"> Let us know your location for printing shipping labels. </h4>
		                                    </div>
		                                    <div>
												<div class="input-group col-sm-8 col-sm-offset-2">

													<div class="form-group label-floating">
			                                            {% crispy address_form %}
			                                        </div>
												</div>
                                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                                    <p>
                                                        By registering your account, you agree to our
                                                        <a href=""> Services Agreement </a>
                                                        and the
                                                        <a href="https://stripe.com/us/connect-account/legal">Stripe Connected Account Agreement.</a>
                                                    </p>
                                                </div>
                                            </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
		                            <div class="pull-right">
										<!-- Make onClick return false button, and type=submit so that 'enter' goes to the next page -->
		                                <input type='submit' onclick="return false;" class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next'  />

                                        <button type="submit" class="btn btn-finish btn-fill btn-success btn-wd">Finish</button>


		                            </div>

		                            <div class="pull-left">
		                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
		                            </div>
		                            <div class="clearfix"></div>
		                        </div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div><!-- end row -->
	    </div> <!--  big container -->
</div> <!-- /image-wrapper -->

{% endblock content %}

{% endblock content-wrapper %}

{% block footer %}
{{ block.super }}


{% endblock %}


{% block javascript %}
    {{ block.super }}

	<script src="{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/js/jquery.bootstrap.js' %}" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/js/material-bootstrap-wizard.js' %}"></script>

    <!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="{% static 'standalone/material-bootstrap-wizard-v1.0.1/assets/js/jquery.validate.min.js' %}"></script>
{% endblock %}
