{% extends "account/profile/base_account_profile.html" %}
{% load static %}
{% load project_tags %}

{% block breadcrumb %}
    {{ block.super }}
/ <a class="nav-link" href="{% url 'users:transactions' %}">Transactions</a>
{% endblock %}


{% block transactions %}
active
{% endblock %}


{% block inner %}
  <div class='section-transactions'>
    <h2 class="text-center">My Transactions</h2>
    {# Comment in Django, pretty neat! #}
    {% for transaction in transaction_set %}
        <div class="card card-nav-tabs">
            <div class="head header-{{transaction_type_css_lookup | get_item:transaction.type}}"></div> <!-- the banner color -->
            <div class='card-data'>
              <div class="row">
                  <div class="col-sm-9">
                      <h3>{{transaction.payment_type }}</h3>
                      <h5>{{transaction.created}}</h5>
                     <h5>{{ transaction.message }}</h5>
                  </div>
                  <div class="col-sm-3 ">
                    <span class="label pull-right label-{{transaction_type_css_lookup | get_item:transaction.type}}">${{ transaction.amount }} {{transaction.type}}</span></h5>
                  </div>
              </div>

              {% if transaction.check_id %}
                 <hr>
                  <div class="row">
                      <div class="col-sm-12">
                            {% with tracking_number=transaction.retrieve_tracking_number %} {# call the external api once #}

                                  {% if tracking_number is None %}
                                    <p> The check has not been sent yet! Keep an eye out for your tracking number</p>
                                  {% else %}
                                      <a href="https://track.aftership.com/usps/{{ tracking_number }}?" target="_blank" class='btn btn-simple btn-primary btn-outline btn-sm'>
                                        <strong>Track {{ tracking_number }}</strong>
                                        </a>
                                  {% endif %}
                              {% endwith %}
                      </div>
                  </div>
             {% endif %}
            </div> <!-- /card-content -->
        </div>

        {% empty %}
        <h3 class='text-center'>You don't have any transactions yet. If you <a href="{% url 'shipments:shipmentOrder' %}">ship it</a>, they will come. </h3>
    {% endfor %}

    {# Pagination guide: https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html #}
    {% if transaction_set.has_other_pages %}
        <div class="text-center">
          <ul class="pagination pagination-primary">
            {% if transaction_set.has_previous %}
              <li><a href="?page={{ transaction_set.previous_page_number }}"><</a></li>
            {% else %}
              <li class="disabled"><span><</span></li>
            {% endif %}
            {% for i in transaction_set.paginator.page_range %}
              {% if transaction_set.number == i %}
                <li class="active"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if transaction_set.has_next %}
              <li><a href="?page={{ transaction_set.next_page_number }}">></a></li>
            {% else %}
              <li class="disabled"><span>></span></li>
            {% endif %}
          </ul>
        </div>
    {% endif %}

  </div> <!-- /section-transctions -->

{% endblock inner %}


