{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block css %}
  {{ block.super }}

  <!-- SASS -->
  <!-- This file stores project-specific CSS -->
  <link type='text/css' href="{% static 'css/knowledge.css' %}" rel="stylesheet">

{% endblock %}

{% block header-top-style %}
background-image: url('{% static "images/gradient-wallpaper.jpg" %}') !important;
{% endblock %}

{% block content %}
<nav class="navbar navbar-primary navbar-sub">
    <div class="container">


      <div class="navbar-header">
	                            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#knowledge-navbar" aria-expanded="false">
	                            		<span class="sr-only">Toggle navigation</span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
		                                <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>

		                            </button>
              <a class="navbar-brand" href="#">Knowledge Base</a>

	    </div>

          <div id="knowledge-navbar" class="collapse navbar-collapse">


      <ul  class="nav navbar-nav navbar-left">
        <li class="{% block quickstart-active %} {% endblock %}">
            <a href="{% url 'knowledge:quickstart' %}">
              <i class="material-icons">explore</i>
              Quickstart
            <div class="ripple-container"></div></a>
        </li>
        <li class="{% block shipping-active %} {% endblock %}">
            <a href="{% url 'knowledge:shipping' %}">
              <i class="material-icons">explore</i>
              Shipping Guide
            <div class="ripple-container"></div></a>
        </li>
        <li class="{% block payment-active %} {% endblock %}">
            <a href="{% url 'knowledge:payment' %}">
              <i class="material-icons">account_circle</i>
              Payment Information
            <div class="ripple-container"></div></a>
        </li>
        <li class="{% block questions-active %} {% endblock %}">
            <a href="{% url 'knowledge:questions' %}">
              <i class="material-icons">settings</i>
              Common Questions
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class='container'>
    <div class='row'>
        <div class='col-sm-12 knowledge-body'>
          {% block inner %}
          {% endblock inner %}
        </div>
    </div>
</div>

{% endblock content %}

{% load static %}



