{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    {{ block.super }}
        <link type='text/css' href="{% static 'css/account.css' %}" rel="stylesheet">

{% endblock %}

{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block breadcrumb %}
{{block.super}}
/ <a class="nav-link" href="{% url 'users:update' %}">My Account</a>

{% endblock %}

{% block content %}
    <div class="container">
          <div class='row'>
            <div class='col-sm-8 col-sm-offset-2'>
            <ul class="nav nav-pills" role="tablist">
                                    <!--
                                        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                                    -->

                                    <li class="{% block basic_info %}{% endblock %}">
                                        <a href="{% url 'users:update' %}" role="tab" >
                                            <i class="material-icons">account_circle</i>
                                            Basic Info
                                        </a>
                                    </li>
                                    <li class="{% block email %}{% endblock %}">
                                        <a href="{% url 'account_email' %}" role="tab">
                                            <i class="material-icons">email</i>
                                            Email
                                        </a>
                                    </li>
                                     <li class="{% block payments %}{% endblock %}">
                                        <a href="{% url 'users:update_payment_information' %}" role="tab">
                                            <i class="material-icons">attach_money</i>
                                            Payments
                                        </a>
                                    </li>
                                    <li class="{% block transactions %}{% endblock %}">
                                        <a  href="{% url 'users:transactions' %}" role="tab">
                                            <i class="material-icons">list</i>
                                            Transactions
                                        </a>
                                    </li>

                                </ul>
            </div>
            <div class='col-sm-8 col-sm-offset-2'>
        <hr>
        </div>
        </div> <!-- /row -->

        {% block inner %}
        {% endblock %}
    </div> <!-- /container -->
{% endblock content %}
