<li>
    <a class="btn btn-just-icon btn-round btn-facebook">
        <i class="fa fa-facebook"> </i>
        <div class="ripple-container"></div>
    </a>
</li>
<li >
    <a class="btn btn-just-icon btn-round btn-twitter">
        <i class="fa fa-twitter"> </i>
        <div class="ripple-container"></div>
    </a>
</li>
<li>
    <a class="btn btn-just-icon btn-round btn-google">
        <i class="fa fa-google"> </i>
         <div class="ripple-container"></div>
    </a>
</li>
<li >
    <a class="btn btn-just-icon btn-round btn-linkedin">
        <i class="fa fa-linkedin"> </i>
        <div class="ripple-container"></div>
    </a>
</li>

<li>
    <a class="btn btn-just-icon btn-round btn-reddit">
        <i class="fa fa-reddit"> </i>
        <div class="ripple-container"></div>
    </a>
</li>