<li>
    <a class="btn btn-just-icon btn-round btn-facebook" 
        href="https://www.facebook.com/sharer/sharer.php?u={{ destination_url }}"
        target='_blank'>
        <i class="fa fa-facebook"> </i>
        <div class="ripple-container"></div>
    </a>
</li>
<li >
    <a class="btn btn-just-icon btn-round btn-twitter"
        href="https://twitter.com/intent/tweet?url={{ destination_url }}"
        target='_blank'>
        <i class="fa fa-twitter"> </i>
        <div class="ripple-container"></div>
    </a>
</li>
<li>
    <a class="btn btn-just-icon btn-round btn-google"
        href="https://plus.google.com/share?url={{ destination_url }}"
        target='_blank'>
        <i class="fa fa-google"> </i>
         <div class="ripple-container"></div>
    </a>
</li>
<li >
    <a class="btn btn-just-icon btn-round btn-linkedin"
        href="https://www.linkedin.com/shareArticle?mini=true&url={{ destination_url }}"
        target='_blank'>
        <i class="fa fa-linkedin"> </i>
        <div class="ripple-container"></div>
    </a>
</li>

<li>
    <a class="btn btn-just-icon btn-round btn-reddit"
        href="http://www.reddit.com/submit?url={{ destination_url }}"
        target="_blank">
        <i class="fa fa-reddit"> </i>
        <div class="ripple-container"></div>
    </a>
</li>
<li>
    <a class="btn btn-just-icon btn-round btn-email"
       href="mailto:?subject={{email_subject|default:'I wanted you to see this site!'}}&amp;body={{email_body|default:'Check out this site!'}} - Shared by {{ destination_url }}"
       title="Share by Email"
       target="_blank">
        <i class="fa fa-envelope-o"> </i>
        <div class="ripple-container"></div>
    </a>
</li>