{% load static %}
{# requires: 'css/snippets/pages/circle_tabs.css'  #}
<div class="wrap circle-features">

        <div class="row">
            <div class="circle-features-logo">
                <br>
                <img src="{% static 'images/logo.png' %}" class="img-responsive">
                <h4>Send What You Want, Make Money </h4>

            </div>
            <div class="circle">

                <span id="videogames">Video Games</span>
                <div class="inner">
                    <h3>Video Games</h3>
                    <li>New &amp; Legacy Consoles</li>
                    <li>PS4 Games</li>
                    <li>Xbox One Games</li>
                    <li>Switch Games</li>
                    <li>Legacy Games</li>
                    <li>And More!</li>
                </div>

                <span id="jewelry">Jewlery</span>
                <div class="inner">
                    <h3>Jewlery</h3>
                    <li>Diamonds</li>
                    <li>Bracelets</li>
                    <li>Necklaces</li>
                    <li>Earings</li>
                    <li>Watches</li>
                    <li>And More!</li>
                </div>

                <span id="treasures">Treasures</span>
                <div class="inner">
                    <h3>Treasures</h3>
                    <li>Hand-made Crafts</li>
                    <li>Pottery</li>
                    <li>Glass Items</li>
                    <li>Gold</li>
                    <li>Hand-made Fabrics</li>
                    <li>And More!</li>
                </div>

                <span id="kids">Kids</span>
                <div class="inner">
                    <h3>Kid Stuff</h3>
                    <li>Games</li>
                    <li>Stuffed Animals</li>
                    <li>Toys</li>
                    <li>Dolls</li>
                    <li>And More!</li>
                </div>

                <span class="blacklist" id="blacklist">Blacklist</span>
                <div class="inner blacklist">
                    <h3>Items You Can't Send</h3>
                    <li><i class='fa fa-times'></i>Clothing <small>(sorry <i class="fa fa-frown-o"></i>)</small></li>
                    <li><i class='fa fa-times'></i>Cheap Items <small>(< $5)</small></li>
                    <li><i class='fa fa-times'></i>Illegal Items</li>

                </div>

                <span id="electronics">Electronics</span>
                <div class="inner">
                    <h3>Electronics</h3>
                    <li>Phones</li>
                    <li>Music Players</li>
                    <li>Headphones &amp; Audio</li>
                    <li>Laptops</li>
                    <li>And More!</li>
                </div>

                <span id="books">Books</span>
                <div class="inner">
                    <h3>Books</h3>
                    <li>Hardcover</li>
                    <li>Paperback</li>
                    <li>Textbooks</li>
                    <li>Used &amp; New</li>
                </div>

                <span id="movies">Movies</span>
                <div class="inner">
                    <h3>Movies</h3>
                    <li>DVDs</li>
                    <li>BlueRays</li>
                </div>

        </div>
    </div>
</div>
