{% load static %}
{# requires: 'css/snippets/pages/logo-bar.css'  #}

<div class="logo-bar">
    <h3 class="logo-title title">Your Items Are Sold Everywhere</h3>
    <h5>Our propritary platform exposes your items to 300m+ visitors per month</h5>
    <img id="reuserat-logo" src="{% static 'images/logo-bar/reuserat.png' %}">
    <img src="{% static 'images/logo-bar/amazon.jpg' %}">
    <img src="{% static 'images/logo-bar/ebay.png' %}">
    <img src="{% static 'images/logo-bar/etsy.png' %}">
    <img id="walmart-logo" src="{% static 'images/logo-bar/walmart.jpg' %}">
</div>
