@import '../standalone/bourbon/bourbon';

//Sets a width to buttons on mobile, and optionally centers them
@mixin button_width_mobile($width){
    @media (max-width: 768px) {
        .btn, .btn-group {
            width: $width;
        }
    }
}
 
@mixin grayscale_element($value) {
    -webkit-filter: #{"grayscale(#{$value})"};
    -moz-filter: #{"grayscale(#{$value})"};
    filter:#{"grayscale(#{$value})"};
}


 