@import '_colors';

.wrapper > .header{
  height: 600px;
  min-height: 600px;
}   

.section-steps{
    text-align: center;
    $size: 70px;
    $color: $primary-color;
     h2.title{
            margin-bottom: 60px;
        }
    .step{
        .number{
            margin: 0 auto;
            margin-bottom: 12px;
            color: $color;
            border-radius: 50%;
            width: $size; 
            font: 40px Arial, sans-serif;
            border: 2px solid $color;
            font-weight: 900;
            span{
                text-align: center;
                line-height: $size;
                display: block;
            }
        }
    }
}

.section-items{
    ul{
        padding-left: 10px;
        li{
            font-size: 16px;
            line-height: 25px;
        }
    }
}

%section{
    .description{
        color: $grey-700;
    }
}  

.section-items{
    @extend %section;
}

.section-iu{
    @extend %section;
}

.section-bonus{
    h4{
        margin-bottom: 18px;
    }
}
