@import 'colors.scss';

.header-top{
  background-color: $first-color;
}

.card-nav-tabs{
  .btn-simple{
    color: white; 
    background-color: transparentize(black, .85);
    transition: background-color .1s;

    &:hover{
      color: white;
      background-color: transparentize(black, .5);
    }

    &:active{
      color: white;
      background-color: initial;
    }
  }
}


    