@import '../standalone/bourbon/bourbon';
@import '_theme.scss';
@import '_colors.scss';
@import '_utility.scss';
//////////////////////////////// 
		//Django Toolbar//
////////////////////////////////

// Display django-debug-toolbar.
// See https://github.com/django-debug-toolbar/django-debug-toolbar/issues/742
// and https://github.com/pydanny/cookiecutter-django/issues/317
[hidden][style="display: block;"] {
  display: block !important;
}

  
.logo{
  max-width: 150px;
}

.navbar {
  .navbar-brand{
    padding-top: 5px !important;
  }
}

.header-cards{
  .card{
    margin-bottom: 20px;
  }
}


.alert{
  margin-bottom: 0px;
}


.main{
  padding-top: 40px;
    padding-bottom: 60px;
}


.form-group .help-block {
    position: relative;
    display: inline;  
    }

.form-group label{
  color: $grey-600;
}

li{
  list-style: none;
}


.navbar{
  .nav-link.btn-white{
      color: $grey-800 !important;
  }            
}
   
.close-alert{
  font-size: 20px;
} 

//Vertically center text in the top header  
.header-top {
  color: white;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
