@import '_colors';
@import '_variables';
.main{
    min-height: 1000px;
    background: gray !important;
}

.wrap.features{
    h2 {
    text-align: center;
    font-size: 3.5vh;
    }
    .detail {
    transition: all 100ms ease-out 200ms;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vh;
    height: 35vh;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(253, 253, 253, 0.95);
    padding: 8vh 5vh;
    margin: -17.5vh;
    h3 {
        margin-top: 0;
        font-family: "open-sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.3vh;
        line-height: 1.428571429;
        &:small{
                display: block;
                font-family: "open-sans", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 2.3vh;
                line-height: 1.428571429;
                color: #011b2a;
            }
        }
    p {
        font-family: "open-sans", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 1.7vh;
        line-height: 1.428571429;
        }
    }
    

    .features-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vh;
    height: 35vh;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fdfdfd;
    padding: 6vh 5vh;
    margin: -17.5vh;
    }

    .circle {
        position: relative;
        width: 65vh;
        height: 65vh;
        padding: 0;
        border-radius: 50%;
        list-style: none;
        box-sizing: content-box;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        
        & > span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12.5vh;
            height: 3.5vh;
            margin: -6.25vh;
        }
        span {
            font-family: "open-sans", sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 2.1vh;
            line-height: 2.5vh;
            text-align: center;
            
            &:hover + .detail,
            &:focus + .detail {
                opacity: 1;
                }

            &:before{
                width: 12.5vh;
                height: 12.5vh;
                border-radius: 50%;
                border: #fdfdfd solid 0.4vh;
                font-family: "joyent-icons";
                font-style: normal;
                font-weight: normal;
                display: block;
                text-decoration: inherit;
                speak: none;
                font-variant: normal;
                text-transform: none;
                line-height: 1em;
                font-size: 10vh;
                color: #fdfdfd;
                width: 100%;
                text-align: center;
                margin-top: 0;
                margin-bottom: 0.5vh;
                padding-top: 1.1vh;
                content: '\e81a';
            }

            small {
                display: block;
                font-family: "open-sans", sans-serif;
                font-weight: 300;
                font-style: normal;
                font-size: 1.7vh;
                line-height: 1.428571429;
            }

            &:hover:before,
            &:focus:before {
                border-color: #011b2a;
                color: #011b2a;
            }
        } // span
    } // circle

    @mixin amount_of_circles($num){
        $degrees: 0deg;
        @for $i from 1 through $num{
             .circle > span:nth-of-type(#{$i}){
                -webkit-transform: rotate($degrees) translate(32.5vh) rotate(-$degrees);
             }
            @media (max-width: 700px){
                .circle > span:nth-of-type(#{$i}){
                    -webkit-transform: rotate($degrees) translate(40vw) rotate(-$degrees);
                }
            }
             $degrees: $degrees + (360/$num)
        }
    }

    @include amount_of_circles(9);

    .circle span.microservices:before {
    content: '\e80c';
    font-size: 8.5vh;
    padding-top: 1.7vh;
    }
    .circle span.mobile:before {
        content: "\f09b";
        font-family: FontAwesome;
    }
    .circle span.cloud-native:before {
        content: "\f09b";
        font-family: FontAwesome;

    }
    .circle span.blacklist:before {
        content: "\f00d";
        font-family: FontAwesome;
    }
    .circle span.realtime:before {
    content: '\e817';
    }
    .circle span.electronics:before {
        content: "\f10a"; 
        font-family: FontAwesome;
        }

    .circle span.iot:before {
    content: '\e81d';
    }
    .circle span.mountain:before {
    font-size: 10.7vh;
    line-height: 10.7vh;
    padding-top: 0;
    content: '\e82a';
    }
}



///Media
@media (max-width: 700px) {
    .wrap.features{
        height: 80vh;
        padding-top: 2.8vh;
        padding-bottom: 2.8vh;
    
        h2 {
            font-size: 3.5vh;
        }
        .detail {
            width: 50vw;
            height: 50vw;
            margin: -25vw;
            h3 {
                font-size: 4vw;
                & small {
                font-size: 3.5vw;
                }
            }
            p{
                font-size: 3vw;
            }
            li{
                font-size: 3vw;
                line-height: 1.6;
            }
        }
        .features-logo {
            position: absolute;
            width: 50vw;
            height: 50vw;
            margin: -25vw;
        }
        .circle {
            width: 80vw;
            height: 80vw;
            padding: 0;
            & > span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 11.5vw;
                height: 11.5vw;
                margin: -5.75vw;
            }
        
            span {
                font-size: 3vw;
                line-height: 1.428571429;
                small {
                    font-size: 1.8vw;
                    line-height: 1.428571429;
                }

                &:before {
                    width: 11.5vw;
                    height: 11.5vw;
                    line-height: 1em;
                    font-size: 9vw;
                    margin-bottom: 0.5vw;
                    padding-top: 1.1vw;
                    content: '\e81a';
                }
            } 
        }   
    }   
}