{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}

    <!-- SASS -->
    <link type='text/css' href="{% static 'css/snippets/pages/circle_tabs.css' %}" rel="stylesheet">
    <link type='text/css' href="{% static 'css/home.css' %}" rel="stylesheet">

{% endblock %}

{% block body-tag %}
<body class='landing-page'>
{% endblock body-tag %}

{% block content-wrapper %}


    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('{% static "images/main-min.jpeg" %}');">
            <div class="container">
                <div id="bloomington" class="row" style="position: relative;">
                    <div>
                        <h3><a href="{% url 'pickup' %}">Live in Bloomington? Click here!</a></h3>
                    </div>
                </div>
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">Ship Your Stuff, Get Paid. It's That Easy.</h1>
	                    <h4>
                            Look around you - it's time to clean out your house. Selling online can be time consuming and confusing - we make it simple.
							Make money when your items sell on <a href="{{ EXTERNAL_URLS.SITE.store }}" target='_blank' class='text-warning'>ReuseRat.com</a>
                        </h4>

	                    <br />
                            <a href="{% url 'account_signup' %}" class="btn btn-danger btn-raised btn-lg">
                                <i class="material-icons">launch</i>Get Started for Free
                            </a>
					</div>
                    <div class='header-cards col-md-4 col-md-offset-1 text-center'>
                            <div class='card'>
                                <div class='content'>
                                    <i class="fa fa-gift fa-2x text-primary	"></i>
                                    <h4>Pack Your Items</h4>
                                    <p>Almost anything - if you can fit it, ship it</p>

                                </div>
                            </div>
                            <div class='card'>
                                <div class='content'>
                                    <i class="fa fa-send fa-2x text-warning"></i>
                                    <h4>Send Via USPS</h4>
                                    <p>You will even be reimbursed for shipping</p>
                                </div>
                            </div>
                            <div class='card'>
                                <div class='content'>
                                    <i class="fa fa-money fa-2x text-success"></i>
                                    <h4>Get Paid</h4>
                                    <p>We post your items on <a href="{{ EXTERNAL_URLS.SITE.store }}" target="_blank">ReuseRat.com</a> &amp; pay you when your items sell</p>
                                </div>
                            </div>
                    </div> <!-- /header-cards -->
                </div> <!-- /row-->
            </div> <!-- /container -->
        </div> <!-- /header-filter -->

		<div class="main main-raised">
		    <div class="section text-center section-landing">
				<div class="container highlight">

	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Making Money Has Never Been So Easy</h2>
	                        <h5 class="description">9/10 financial experts agree: making money is better than not. Instead of letting your unused items collect dust in storage, we can sell them for you. Managing an Ebay or Amazon account can take hours and unneeded responsibility to ship items on time.
								Your friends will notice your clean house and you'll have extra spending money!</h5>
	                    </div>
	                </div>
				</div> <!-- /container -->
				<div class='container-fluid'>
					<div class='row steps' style="
						background-image: url('{% static "images/test/beachedit.jpg" %}') !important;
						background-position: center !important;
						background-attachment: scroll !important;">

						<div class='col-md-10 col-md-offset-1'>
														<h2> <span class='prior'>You Do You</span> <span class='and'> | </span> <span class='prior'>Live Your Life</span></h2>

							<h3>
									<span class='we'>We Do</span> <span class='step'>Selling</span> <span class='arrow'><i class="material-icons">arrow_forward</i></span> <span class='step'>Packaging </span> <span class='arrow'><i class="material-icons">arrow_forward</i></span> <span class='step'>Delivery</span> <span class='arrow'><i class="material-icons">arrow_forward</i></span> <span class='step'>Customer Service</span>
							</h3>

						</div>
					</div>
				</div>
				<div class='container'>
					<div class="features">
						<div class="row">
							<div class='col-md-8 col-md-offset-2'>
								<h2 class='title'>Keep It Easy With 6 Simple Steps</h2>
							</div>
                            <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">account_circle</i>
									</div>
									<h4 class="info-title">1. Register Your Information</h4>
									<h5>We just need a few details from you to make sure the process goes smoothly.</h5>
                                    <a id="sign-up-link" class="btn btn-primary btn-simple btn-outline" href="{% url 'account_signup' %}">Register now</a>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-info">
										<i class="material-icons">video_label</i>
									</div>
									<h4 class="info-title">2. Pack Your Items</h4>
									<h5>Whether it's a new laptop or old toys,  we'll take it.
                                        Pack as much as you want - we can even send you boxes (coming soon). </h5>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-default">
										<i class="material-icons">local_printshop</i>
									</div>
									<h4 class="info-title">3. Print Your Shipping Label</h4>
									<h5>Simply print out the label we provide and stick it on your box. We'll even reimburse shipping costs when the box arrives. </h5>

								</div>
		                    </div>
						</div>

                        <div class='row'>
                            <div class="col-md-4">
                                    <div class="info">
                                        <div class="icon icon-danger">
                                            <i class="material-icons">local_shipping</i>
                                        </div>
                                        <h4 class="info-title">4. Send Boxes Via USPS</h4>
                                        <h5>Drop off your boxes at your mailbox, USPS drop box, or local post office.</h5>
                                    </div>
                            </div>

                            <div class="col-md-4">
								<div class="info">
									<div class="icon icon-warning">
										<i class="material-icons">weekend</i>
									</div>
									<h4 class="info-title">5. ?????</h4>
									<h5>Time to sit back and relax. We do the work of handling the sales process. You live your life, whether it's Binging Netflix or Extreme Snowboarding.</h5>
								</div>
		                    </div>

		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">attach_money</i>
									</div>
									<h4 class="info-title">6. Profit</h4>
									<h5>Congratulations! We sold your items and now it's time to get paid. We split 50/50 and pay by Check, Paypal or Direct Deposit.</h5>
								</div>
		                    </div>


                        </div> <!-- /row -->
		            </div> <!-- /features -->

		    	</div> <!-- /container -->
				<!-- TESTING -->
			<div class="section section-blue">
				<div class="container">
					<div class="row">

						<div class="col-md-4">
							<div class="image-container">
								<img class="img img-raised" src="{% static 'images/home/clean.jpeg' %}">
							</div>
						</div>

						<div class="col-md-4 col-md-offset-3">
							<div class="section-description">
								<h3 class="title">Clean Out Your House, Get Paid</h3>
								<h6 class="description">It's so simple a rat could do it </h6>

								<h5 class='description'>Customers buy your items on our premier second hand store <a href='{{ EXTERNAL_URLS.SITE.store }}' target="_blank" class='text-warning'>ReuseRat.com</a></h5>
								<h5>When your item sells, you make money!</h5>

								<a href="{{ EXTERNAL_URLS.SITE.store }}" target="_blank" class='btn btn-light-blend2'>See the Store</a>

							</div>

						</div>

					</div>
				</div>
			</div>

                <!-- test -->
            <div id='what-can-i-send' class="section-circles">
                <h2 class="title">Can I Really Send Anything?</h2>
                <h3>You can send almost anything, here's what we accept:</h3>
                <h5>(min ~$5 value, good condition items)</h5>
</h2>
                {% include 'pages/snippets/circle_tabs.html' %}
            </div>
                <!-- /test -->


			<div class="section section-orange">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-1">
							<div class="section-description">
								<h3 class="title">Relax, It's Easy to Cash Out</h3>
								<h6 class="description">Paypal, Check, or Direct Deposit</h6>

								<h5 class='description'>
									View your balance and cash out at any time.
								</h5>
								<h5>
									Use direct deposit (secured by Stripe Payments), or payout with Paypal.
								</h5>
								<h5>
									Don't want to use an online payment method? We'll send you a check in the mail!
								</h5>


							</div>

						</div>
						<div class="col-md-5 col-md-offset-2">
							<div class="image-container">
								<img class="img img-raised" src="{% static 'images/home/relax.jpeg' %}">
							</div>
						</div>



					</div>
				</div>
			</div>
				<!-- END TESTING -->

			<div class='container'>
	        	<div class="section section-testimonials text-center" style="display: none;">
	                <h2 class="title">Your Friends <i class='fa fa-heart text-danger'></i> Our Service</h2>

					<div class="team">
						<div class="row">
							<div class="col-md-4">
			                    <div class="team-player">
			                        <img src="{% static 'standalone/x_material_kit_free_v1.1.1/assets/img/avatar.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Gigi Hadid <br />
										<small class="text-muted">Student</small>
									</h4>
			                        <h5 class="description"><i class='fa fa-quote-left'></i>
									This website changed my life. For the better.
									</h5>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="{% static 'standalone/x_material_kit_free_v1.1.1/assets/img/christian.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Christian Louboutin<br />
										<small class="text-muted">Designer</small>
									</h4>
			                        <h5 class="description"><i class='fa fa-quote-left'></i>
									I cleaned out my house and I have extra spending money! Two birds with one stone.
									</h5>
			                    </div>
			                </div>
			                <div class="col-md-4">
			                    <div class="team-player">
			                        <img src="{% static 'standalone/x_material_kit_free_v1.1.1/assets/img/kendall.jpg' %}" alt="Thumbnail Image" class="img-raised img-circle">
			                        <h4 class="title">Kendall Jenner<br />
										<small class="text-muted">Human Being</small>
									</h4>

                                    <h5 class='description'><i class='fa fa-quote-left'></i>
									Simply the best way to get rid of electronics. Stuff that would ended up in a dumpster is making me extra cash.
									</h5>
			                    </div>
			                </div>
						</div>
					</div>

	            </div>


	        	<div class="section landing-section">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
                            <br><br><br> <!-- temporary until testimonials are back -->
	                        <h2 class="text-center title">Let's Get Started</h2>
							<h4 class="text-center description">
                                Are you ready to start freeing up space and begin making money? Start the process with the button below.
                                One small click for you, a giant leap for your wallet.
                            </h4>
                             <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg btn-raised text-center">
									Let's Go Make Some $$
							</a>
	                    </div>
	                </div>

	            </div>
	        </div> <!-- /container -->



	</div>
   </div>

   <div class='main header-filter section-faq'
   	style="
        background-image: url('{% static "images/blue-stones.jpg" %}') !important;
	   background-position: center !important;
	   background-attachment: fixed !important;
   ">

	   <div class='container'>
	   <div class='row'>
		   <div class='col-sm-12 text-center'>
			   <h2 class="title" style='color: white !important;'>Frequently Asked Questions</h2>
		   </div>
	   </div>

	   <div class='col-sm-10 col-sm-offset-1'>
		   <div class='col-md-4'>
			   <div class='card card-nav-tabs text-center'>
								   <div class="header-info content">How long does it take to get paid?</div>
				   <div class='content'>
					   <p>That depends! Within a few weeks you can expect a few of your items to sell. We post an item for a maximum of 70 days before moving it to clearance.</p>
				   </div>
			   </div>
		   </div>
               <div class='col-md-4'>
                   <div class='card card-nav-tabs text-center'>
                       <div class="header-info content">How do I start making money?</div>
                       <div class='content'>
                           <a href="{% url 'account_signup' %}" class='btn btn-danger btn-simple'>Sign Up Now For Free!</a>
                       </div>
                   </div>
               </div>
		   <div class='col-md-4'>
			   <div class='card card-nav-tabs text-center'>
								   <div class="header-info content">How much will my items sell for?</div>
				   <div class='content'>
					   <p>It's in our best interest to sell your items at a reasonable price.
                           Using our proprietary algorithm, we lower the price of the item over time to increase it’s chances of selling.</p>
				   </div>
			   </div>
		   </div>
               <div class='col-md-4'>
                   <div class='card card-nav-tabs text-center'>
                       <div class="header-info content">What if an item doesn't sell?</div>
                       <div class='content'>
                           <p>If an item doesn't sell after 90 days, you have two options.
							You can choose for us to donate the item on your behalf, or we can send the item back to you.</p>
                       </div>
                   </div>
               </div>
                <div class='col-md-4'>
                   <div class='card card-nav-tabs text-center'>
                                       <div class="header-info content">Will I get reimbursed for shipping?</div>
                       <div class='content'>
                           <p>You sure will! Simply upload your shipping receipt and you'll receive store credit. Desire more?
							   Follow us on social media for discounts!</p>
                       </div>
                   </div>
               </div>

                <div class='col-md-4'>
                   <div class='card card-nav-tabs text-center'>
                                       <div class="header-info content">Why don't you take clothing?</div>
                       <div class='content'>
                           <p>
							   It’s difficult to do a quality check on used clothing. The good people at <a href="https://thredup.com" target="_blank">ThredUp </a>
                               focus on this task and does it better than us <i class='fa fa-smile-o'></i>
							</p>
                       </div>
                   </div>
               </div>
               <div class="col-md-4 col-md-offset-4 text-center top40" >
                   <a href="{% url 'knowledge:questions' %}" class="btn btn-lg btn-white">
                       <span class="text-primary">More Answers</span>
                   </a>
               </div>
	   </div>

	   </div> <!-- /container -->

   </div> <!-- /faq -->
</div> <!-- wrapper -->
{% endblock content-wrapper %}
