{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block css %}
    {{ block.super }}

  <link type='text/css' href="{% static 'css/pickup.css' %}" rel="stylesheet">

    <!-- for the circle modal -->
    <link type='text/css' href="{% static 'css/snippets/pages/circle_tabs.css' %}" rel="stylesheet">

    <!-- for the logo bar -->
    <link type='text/css' href="{% static 'css/snippets/pages/logo_bar.css' %}" rel="stylesheet">


{% endblock css %}

{% block header-top-style %}
    background-image: url('{% static "images/pickup/pickupgirlblur-min.jpg" %}');
{% endblock %}

{% block header-title %}
    <h1>Free Pickup Service</h1>
    <h2 class='subtitle'>We Sell Your <span class="hidden">Items</span>

        <span id="type-it" class="type-it"></span>
</h2>
    <h3 style='color: ghostwhite;'>Available in <strong>Bloomington, IN</strong> and <strong>Indiana University</strong></h3>
    <a href="{{ EXTERNAL_URLS.SITE.schedule_pickup }}"
                       target="_blank"
                       class="btn btn-primary btn-raised btn-danger btn-lg track-schedule-click">
                        Schedule Pickup Now
                        <i class="material-icons">launch</i>
                                <div class="ripple-container"></div>
                    </a>
{% endblock %}

{% block body-tag %}
<body class='landing-page'>

{% endblock body-tag %}

{% block content%}
    <div class="container">

        <div class="section-steps section">
            <div class="row">
                <h2 class="title col-sm-12">Scheduling a Pickup is Easy as 1-2-3</h2>
            </div>
            <div class="row">
                <div class="col-sm-4 step"><h3 class="description"><div class="number"><span>1</span></div> Schedule Your Pickup Time</h3><h5><a href="{{ EXTERNAL_URLS.SITE.schedule_pickup }}">Schedule Now</a></h5></div>
                <div class="col-sm-4 step"><h3 class="description"><div class="number"><span>2</span></div> Pack Up Your Items</h3><h5><a href="{{ EXTERNAL_URLS.SITE.schedule_boxes }}">Get Free Boxes Delivered</a></h5></div>
                <div class="col-sm-4 step"><h3 class="description"><div class="number"><span>3</span></div> We'll Pick Up Your Boxes</h3></div>
            </div>
        </div>


        <div class="section section-iu">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <h2 class="title">Clean Out Your House & Make Money!</h2>
                    <h5 class="description">You don't have to wait until Spring to clean out your house.
                        Using our service you can declutter your home and make money!</h5>
                    <h5 class="description">
                        Sit back and earn while we handle the sales process.</h5>
                    <h5 class="text-primary" style="font-weight: 400;">ReuseRat Pickup is 100% free!</h5>
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                   <img class="img-rounded img-responsive" src="{% static 'images/pickup/lv4.jpg' %}">

                </div>
            </div>
        </div>

        <div class="section section-iu">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                   <img class="img-rounded img-responsive" src="{% static 'images/pickup/box.png' %}">
                </div>
                <div class="col-sm-6 col-sm-offset-1">
                    <h2 class="title">Your Life Made Easier</h2>
                    <h3 class="text-info"><strong>Get Paid</strong></h3>
                    <h4 class="description">We split the sale 50/50.</h4>
                    <h4 class="description">Cash out with Paypal, Direct Deposit, or Check.</h4>
                    <h4 class="description">Monitor items on our easy to use dashboard!</h4>


                    <br><br>
                    <h3 class="text-info"><strong>Free Your Used Items</strong></h3>
                    <h4 class="description">If an item doesn't sell in 90 days, we'll return it to you for free.</h4>

                    <h4 class="description">You can also opt to donate your unsold items to charity.</h4>
                    <small class="description">*Items typically sell in 10-60 days</small>
                </div>
            </div>
        </div>



        <div class="section text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="title">Schedule Your Box Drop Off &amp; Pickup Now</h2>
                    <h3 class="description">Get boxes for free or schedule a pickup directly.</h3>
                    <h3 class="description">All details are kept secure &amp; confidential. No spam, ever - we promise! </h3>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="{{ EXTERNAL_URLS.SITE.schedule_boxes }}"
                       target="_blank"
                       class="btn btn-primary btn-raised btn-lg track-schedule-click">
                        Schedule Box Drop Off
                        <i class="material-icons">launch</i>
                        <div class="ripple-container"></div>
                    </a>

                    <a href="{{ EXTERNAL_URLS.SITE.schedule_pickup }}"
                       target="_blank"
                       class="btn btn-primary btn-raised btn-lg track-schedule-click">
                        Schedule Pickup Now
                        <i class="material-icons">launch</i>
                                <div class="ripple-container"></div>
                    </a>

                </div>


            </div>
        </div>

        <div class="section section-items">
            <div class="row">

                <div class="col-sm-4 col-sm-offset-2">
                    <h2 class="title">What Items Do You Accept?</h2>
                    <h5 class="description">Items qualify if they can fit into a 18 in x 24 in box.</h5>
                    <h5 class="description">However, there are exceptions for some large items that we also accept:</h5>
                    <h5 class="description">TVs, Mini Fridges, Microwaves, and Computer Monitors are all eligible for pickups.</h5>
                </div>

                <div class="col-sm-4 col-sm-offset-1">
                    <h3 class="text-success"><strong>Allowed Items</strong></h3>
                    <ul>
                        <li><i class='fa fa-check text-success'></i> TVs</li>
                        <li><i class='fa fa-check text-success'></i> Speakers</li>
                        <li><i class='fa fa-check text-success'></i> Laptops &amp; Computers</li>
                        <li><i class='fa fa-check text-success'></i> Lamps & Mini Fridges</li>
                        <li><i class='fa fa-check text-success'></i> Books & Movies</li>
                        <li><i class='fa fa-check text-success'></i> Jewelry & Watches</li>
                        <li><i class='fa fa-check text-success'></i> Crafts & Glass Items</li>
                        <li><i class='fa fa-check text-success'></i> Video Game Systems &amp; Games</li>
                        <li><i class='fa fa-check text-success'></i> Kids Items</li>
                        <li><i class='fa fa-check text-success'></i> Appliances (Microwaves, Coffee Makers, Etc.)</li>
                        <li><i class='fa fa-check text-success'></i> Dorm Items (Lights, Small Tables, Etc.)</li>
                        <li><i class='fa fa-check text-success'></i> Items smaller than 18 in x 24 in</li>
                        <li id='full-list'><a data-toggle="modal" data-target="#full-list-modal"  title="All Items" data-original-title="All Items">See Full List</a></li>

                    </ul>
                    <br>

                    <h3 class="text-danger"><strong>Not Allowed Items</strong></h3>
                    <ul>
                        <li><i class='fa fa-times text-danger'></i> Mattresses</li>
                        <li><i class='fa fa-times text-danger'></i> Clothing</li>
                        <li><i class='fa fa-times text-danger'></i> Shoes</li>
                        <li><i class='fa fa-times text-danger'></i> Items in poor condition</li>
                        <li><i class='fa fa-times text-danger'></i> Items exceeding 18 in x 24 in (if not specified above)</li>
                    </ul>

                </div>

            </div>
        </div>


    <div class="row section-logo-bar">
        <div class="col-sm-12">
            {% include 'pages/snippets/logo-bar.html' %}
        </div>
    </div>


 <div class='section section-bonus row'>
     <div class='col-sm-6 col-sm-offset-2 text-left'>
         <div><h2>Sharing is Caring <i style='position: relative; top: -2px;' class='fa fa-heart text-danger'></i></h2>
            <h4 style='font-weight: 400;'><strong>Referral Bonus</strong> - Any friend that refers your name during a pickup scores you an incredible bonus!</h4>
            <h4 class="description">You'll get paid a <strong class='text-success'>10% bonus</strong> for every item they sell.</h4>
            <h4 class="description">They will make <strong class='text-success'>10% more</strong> by using you as a referrer.</h4>
            <h4 class="description">There is no limit to the amount of referrals!</h4>
            <h3><small>Limited time only!</small></h3>
         </div>
     </div>
     <div class='col-sm-2 col-sm-offset-1'>
        {% include "snippets/_social_drop_list.html" with destination_url=request.build_absolute_uri email_subject="These guys pick up your items and sell them for you!" message="If you use my name as a referral we will both earn 10 percent more!" %}
     </div>
 </div>


        <div class="text-center row">
            <div class="col-sm-12">
                <h3>If you have any more questions, please refer to our <a href="{% url 'knowledge:questions' %}#Pickup">FAQ</a> section.</h3>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal %}
<!-- Start Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="full-list-modal" aria-labelledby="full-list-modal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
				<h4 class="modal-title">ReuseRat All Eligible Items</h4>
			</div>
			<div class="modal-body">
                {% include 'pages/snippets/circle_tabs.html' %}
			</div>

		</div>
	</div>
</div>
<!--  End Modal -->

{% endblock modal %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'typeit/dist/typeit.min.js' %}"></script>

    <script>
        var url = new URLSearchParams(window.location.search);
        var keyword = url.get('keyword'); // 'mdn query string'
        var instrument_type = url.get('instrument_type'); // 'mdn query string'


    </script>

    <script>
    var video_games_keyword = "videogames";
    var audio_keyword = "audio";
    var instruments_keyword = "instruments";
    var which_instrument = "instrument_type";
    var instrument_type_guitar = "guitar";

    var typeit = $('.type-it').typeIt();

    var typeit_phrase = function(phrase){
        return typeit.tiType(phrase).tiPause().tiDelete()
    };

    var finale = function() {
        /* Always run this at the end */
            typeit
            .tiType("Items To Make The World A Better Place")
            .tiPause(1000)
            .tiDelete(12)
            .tiType("Cleaner Place")
            .tiPause(1000)
            .tiDelete(15)
            .tiType("More Sustainable");
    };

    var standard = function(){
        typeit_phrase("TVs & Monitors");
        typeit_phrase("MacBooks & Laptops");
        typeit_phrase("iPads & Tablets");
        typeit_phrase('Video Game Consoles &amp; Games');
        typeit_phrase("iPhones &amp; Androids");
        typeit_phrase("Music Players");
        typeit_phrase("Headphones & Earbuds");
        typeit_phrase("Audio Equipment");
        typeit_phrase("Household Appliances");
        typeit_phrase("Jewlery");
    };

    if (keyword === video_games_keyword) {
            typeit_phrase("PS4");
            typeit_phrase("Xbox One");
            typeit_phrase("Nintendo Switch");
            typeit_phrase("3DS &amp; 2DS");
            typeit_phrase("Games");
            typeit_phrase("Retro Consoles &amp; Games");
            typeit_phrase("Accessories");

            standard();
            finale();
    }

    else if (keyword === audio_keyword){
        typeit_phrase("Headphones &amp; Earbuds");
        typeit_phrase("Speakers, Amplifiers &amp; Receivers");
        typeit_phrase("Keyboards &amp; Synthesizers");
        typeit_phrase("Microphones");
        typeit_phrase("Midi Instruments");
        typeit_phrase("Effect Pedals");
        typeit_phrase("DJ Equipment");
        typeit_phrase("Mixboards");

        standard();
        finale();
    }

        else if (keyword === instruments_keyword){
            if (instrument_type == "guitar"){
               typeit_phrase("Electric Guitars");
               typeit_phrase("Acoustic Guitars");
               typeit_phrase("Classical Guitars");
               typeit_phrase("Woodwinds & Brass");
               typeit_phrase("Strings & Percussion");
                typeit_phrase("All Instruments");

            }

            else{
               typeit_phrase("Instruments");
               typeit_phrase("Woodwinds & Brass");
               typeit_phrase("Strings & Percussion");
               typeit_phrase("Guitars");
            }

        standard();
        finale();
    }

    else {
        standard();
        finale();
    }

    </script>
{% endblock javascript %}
